alphabet_detector
bs4
bleach
cachetools
covid
demjson
dnspython
emoji
feedparser
future
git+https://github.com/TomyPrs/python-markdown2.git
google_trans_new
gtts
lxml
pillow
psutil
psycopg2-binary
pymongo[srv]
python-telegram-bot==13.1
pytz
python-dotenv
requests
spamwatch
speedtest-cli>=2.0.2
sqlalchemy
telegraph
wget
wikipedia
hurry.filesize