alphabet_detector
bleach
bs4
bs4
cachetools
covid
demjson
emoji
feedparser
future
git+https://github.com/TomyPrs/python-markdown2.git
googletrans
gtts
hurry.filesize
lxml
pillow
psutil
psycopg2-binary
python-telegram-bot==13.1
pythonping
pytz
requests
spamwatch
speedtest-cli>=2.0.2
sqlalchemy
telegraph
telethon==1.16.4
wget
wikipedia